<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>自定义Swift类</string>
	<key>Summary</key>
	<string>自定义Swift类</string>
	<key>SortOrder</key>
	<string>0</string>
	<key>DefaultCompletionName</key>
	<string>MyClass</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>类名:</string>
			<key>Description</key>
			<string>创建的类的名称</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>cocoaTouchSubclass</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>继承类:</string>
			<key>Description</key>
			<string>需要继承的某个类</string>
			<key>Type</key>
			<string>class</string>
			<key>Default</key>
			<string>NULL</string>
			<key>Values</key>
			<array>
				<string>NULL</string>
				<string>V</string>
				<string>VC</string>
				<string>TVC</string>
				<string>TCell</string>
				<string>CVC</string>
				<string>CCell</string>
			</array>
			<key>Suffixes</key>
			<dict>
				<key>V</key>
				<string>V</string>
				<key>VC</key>
				<string>VC</string>
				<key>TVC</key>
				<string>TVC</string>
				<key>TCell</key>
				<string>TCell</string>
				<key>CVC</key>
				<string>CVC</string>
				<key>CCell</key>
				<string>CCell</string>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>语言:</string>
			<key>Description</key>
			<string>实现语言</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>Swift</string>
			<key>Values</key>
			<array>
				<string>Swift</string>
			</array>
			<key>MainTemplateFiles</key>
			<dict>
				<key>Swift</key>
				<string>___FILEBASENAME___.swift</string>
			</dict>
			<key>AllowedTypes</key>
			<dict>
				<key>Swift</key>
				<array>
					<string>public.swift-source</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
